
/*
.recipe_header {
    margin-top: 5px;
}
*/

#sidenav-overlay {
    display: none; !important;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.input-field{
    font-size: 16px;
}

/* Bottom icon bar */
.icon-bar {
    width: 100%;
    background-color: #fff;

    position: fixed;
    padding-top: 5px;
    padding-bottom: 10px;
    bottom: 0;
    z-index: 9999;
    border-radius: 15px 15px 0px 0px;
}

.icon-bar a {
    float: left;
    width: 50%;
    text-align: center;
    /* padding-top: 15px; */
    /* padding-bottom: 15px; */
    transition: all 0.3s ease;
    color: rgb(75, 75, 75);
    font-size: 25px;
}

/* .icon-bar a:hover {
    background-color: #000;
} */
.icon-bar-text{
    font-size: 10px;
    margin-top: -1px;
}

.card-image{
    size: 3px;
}

/* .active {
    background-color: transparent;
} */
/* ************************************************************************** */

.card-min-height {
    min-height: 20vh;
}

.card-action.card-action-icons {
    padding: 1px;
}

.float-right {
    float: right;
}

.add-recipe-submit-btns {
    margin-top: 10vh;
}

.add-recipe-form {
    margin-top: 5vh;
}

.margin-top-3vh{
    margin-top: 3vh;
}

.margin-bottom-5vh{
    margin-bottom: 5vh;
}

.mobile-search-bar{
    margin-top: 15px;
    color: black;
    background-color: #fff;
    border-radius: 30px 30px 30px 30px;
}
/*
.input-field .mobile-search-bar{
    position: absolute;
    top: 15%;
    border-bottom: 0px solid #ad1d1d !important;
}

.mobile-search-bar-icon{
    color: black;
}
*/
.carousel-slider {
    height: 400px !important;
}

.dropdown-content {
    position: absolute !important;
}

.container {
    min-width: 85%;
}

.btn-x-small {
    height: 26px;
    line-height: 26px;
}

.cancel-float-right {
    float: right;
}

.raisin-black {
    background-color: #252627;
}

.alabaster {
    background-color: #F2EFE9;
}

.grey {
    background-color: #564E58;
}

.khaki {
    background-color: #BFB48F;
}

.rose-taupe {
    background-color: #904E55;
}

.badge.new.rose-taupe {
    background-color: #904E55;
    border-radius: 15px 50px;
}

.btn {
    border-radius: 25px;
}

.card-action.card-action-bgcolor {
    background: #fff;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
    color: #222;
    text-transform: lowercase;
}

.refine-menu {
    margin-top: 15%;
}

.refine-menu li {
    margin-top: 10px;
}
/*
.dropdown-content {
    width: max-content !important;
    height: auto !important;
}
*/
.search-submit-button {
    margin: -30px;
}

.card-title-text {
    color: #fff;
    text-decoration: none;
}

.recipe-title-text {
    color: #904E55;
    text-decoration: none;
}

.fab-button {
    background-color: #904E55;
}

.brand-logo {
    color: #222 !important;
}


.nav-bar {
    background-color:#fff;

}

.nav-wrapper a {
    color: #222;
}

.search-input {
    color: #222;
}

.search-form {
    margin-left: 50px;
}

.container-img {
    position: relative;
    text-align: center;
}

.centered-img {
    /* padding: 15px; */
    /* background: rgba(0, 0, 0, 0.308); */
    color: #222;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}

.centered-img-mobile {
    padding: 10px;
    background: rgba(0, 0, 0, 0.137);
    color: #222;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.centered-img-p{
    font-size: 20px;
}
#image {
    margin-top: -10px;
    max-height: 75vh;
    width: 80%;
}

.didac-text{
    color: #222222 ;
}

.body-custom {
    /*background-color: rgb(243, 241, 237);*/
    background-color: #d3d3d3;
}


.strong-text {
    color: #252627;
}

.card-img{
    position: absolute;
    max-height: 40vh;
}

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.recipe_header {
    margin-top: 5px;
}

.main-container {
    /* background-color: #904E55; */
    margin-top: 15px;
}

.fab-button {
    background-color: #26a69a;
}

.mobile-nav {
    margin-top: 25%;
}


nav {
    position: fixed;
    z-index: 9000;
}

nav .brand-logo {
    font-size: 1.4rem;
}

.sidenav {
    z-index: 9999;
}

h1 {
    font-size: 3.4rem;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.main {
    display: block;
    box-sizing: border-box;
    padding-top: 64px;
    min-height: calc(100vh - 253px);
}

#login-form {
    padding: 30px;
}

.flashes {
    width: 90%;
    margin: 20px auto;
    padding: 2px;
    text-align: center;
    font-size: 13px;
    border-radius: 4px;
}

.success {
    background-color: #dbffde;
    border: 1px solid #21962a;
}

.content-container {
    border-radius: 8px;
}

.submit-btn {
    display: block;
    margin: 0 auto;
}

a.submit-btn {
    width: 100px;
}

#recipe-search {
    padding: 14px;
}

.author-text {
    font-size: 13px;
}

div.card-image {
    height: 240px;
    width: 100%;
}

.card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.add-ingredient-btn,
.remove-ingredient-btn,
.add-step-btn,
.remove-step-btn {
    margin: 4px;
}

hr {
    margin-bottom: 36px;
}

#cuisine-select {
    margin-left: 20px;
}

a.btn-floating.btn-large.add-recipe-btn {
    position: fixed;
    right: 5%;
    top: 85%;
}


ol>li {
    margin-bottom: 10px;
}

.pagination li.active {
    background-color: #00897b !important;
}

/* Utility classes*/
.lrg-paragraph-txt {
    font-size: 1.2rem;
}

.sml-paragraph-txt {
    font-size: 0.9rem;
}

.m-4 {
    margin: 4px;
}

.mt-0 {
    margin-top: 0;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-40 {
    margin-left: 40px;
}

.pl-10 {
    padding-left: 10px;
}

.p-10 {
    padding: 10px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.height-40 {
    height: 40px;
}

.inline-block {
    display: inline-block;
}

.text-bold {
    font-weight: bold;
}

/* Media Queries */
@media screen and (min-width: 993px) {

    nav .brand-logo {
        margin-left: 60px;
        font-size: 2rem;
    }

}

@media screen and (max-width: 600px) {

    .add-recipe-btn {
        margin-top: 32px;
    }

    .s-mt-20 {
        margin-top: 20px;
    }
}

@media screen and (min-width: 601px) and (max-width: 757px) {

    .btn, .btn-large, .btn-small, .btn-flat {
        padding: 0 6px;
    }

}
