{% extends 'base.html' %} {% block content %}
<script type="text/javascript">
    $(document).ready(function () {
        alert("hello");
    });
</script>
<div class="container form-container">
    <div class="row margin-bottom-5vh">
        <form action="{{ url_for('insert_recipe') }}" name="recipe" method="POST" class="col s10 offset-s1 l8 offset-l2 add-recipe-form">
            <div class="row">
                <h5>Add recipe</h5>
                <hr>
                <div class="input-field col s12">
                    <div class="input-field">
                        <input id="name " name="name" type="text" value="" required>
                        <label for="name">Name</label></div>
                    <div class="input-field">
                        <input id="description" name="description" type="text" value="" required>
                        <label for="description">Description</label>
                    </div>
                    <div class="input-field">
                        <input id="preparation" name="preparation" type="text" value="" required>
                        <label for="preparation">Explain how to prepare this recipe</label>
                    </div>
                    <div class="col s6 l3 input-field" id="cusine">
                        <input id="recipe_cusine" name="cusine" type="text" value="" required>
                        <label for="recipe_cusine">Cuisine</label>
                    </div>
                </div>
                <div id="TextBoxesGroupIngredients">
                    <!-- Ingredients -->
                    <div class="input-field col s12" id="TextBoxDivIngredients">
                        <div class="col s4 l3 input-field" id="ingredient_name">
                            <input id="recipe_ingredient_name" name="ingredient_name[]" type="text" value="" required>
                            <label for="recipe_ingredient_name">Ingredients </label>
                        </div>
                        <div class="col s4 l3 input-field" id="ingredient_quantity">
                            <input id="recipe_ingredient_quantity" name="ingredient_quantity[]" type="number" value="" required>
                            <label for="recipe_ingredient_quantity">quantity</label>
                        </div>
                        <div class="col s4 l3 input-field" id="ingredient_unit">
                            <input id="recipe_ingredient_unit" name="ingredient_unit[]" type="text" value="" required>
                            <label for="recipe_ingredient_unit">units</label>
                        </div>
                </div>
                    <div class="row">
                        <a class="btn waves-effect waves-light btn-x-small" id="addIngredient"><i class="fa fa-plus"
                                aria-hidden="true"></i></a>
                        <a class="btn waves-effect waves-light btn-x-small red removeIngredientDiv" id="removeIngredient"
                            ><i class="fa fa-minus" aria-hidden="true"></i></a>
                    </div>

                </div>
                
                <div class="input-field col s12">
                    <div class="col s4 l3 input-field" id="dish_types">
                        <select class="form-control" id="dish_type" name="dish_type" required>
                            {% for dish_type in dish_types %}
                            <option value="{{dish_type}}">{{dish_type}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col s4 l3 input-field" id="m_courses">
                        <select class="form-control" id="main_course" name="main_course" required>
                            {% for course in courses %}
                            <option value="{{course}}">{{course}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col s4 l3 input-field" id="level">
                        <select class="form-control" id="level" name="level" required>
                            {% for level in levels %}
                            <option value="{{level}}">{{level}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="input-field col s12">
                    <div class="col s6 l3 input-field">
                        <input id="serves" name="serves" type="number" value="" required>
                        <label for="serves">Serves</label>
                    </div>
                    <div class="col s6 l3 input-field">
                        <input id="cook_time" name="cook_time" type="number" value="" required>
                        <label for="cook_time">Cooking time</label>
                    </div>
                    <div class="col s6 l3 input-field">
                        <input id="prep_time" name="prep_time" type="number" value="" required>
                        <label for="prep_time">Prep time</label>
                    </div>
                </div>
            </div>
 
            <!-- File uploads -->
            <div class="row add-recipe-submit-btns center-align">
                <button class="btn waves-effect waves-light hvr-icon-up" type="submit" name="">Submit
                    <i class="fa fa-paper-plane-o hvr-icon"></i>
                </button>
            </div>
        </form>
    </div>
</div>
</div>

{% endblock %}