{% extends 'base.html' %} {% block content %}

	<div class="row">
		<div class="col s12 l6">
                <div class="card mt-20">
                    <div class="card-image">
                        <img src="{{ recipe.image_url }}" alt="{{ recipe.recipe_name }}">
                    </div>
                </div>
		</div>
		<dl class="collapsible" data-collapsible="accordion">
			<dt><h3 id="recipe-name">  {{ recipe.name }} </h3></dt>
			<dt><span class="n_service" id="n_service">This recipe is for {{ recipe.n_service }} people</span></dt>
			<dt>
				<form action="" method="POST">
					<label>If you want a different number of service, tell me: </label>
					<input id='new_service' type="number" name='new_service'
					       value="{{ recipe.n_service }}"/>
					<input id='original_service' type="hidden" name='original_service'
					       value="{{ recipe.n_service }}"/>
				</form>
			</dt>
			<dt><h5>Preparation time:</h5></dt>
				<ul class="preparation_time">
					{% for p in recipe.prep_time %}
						<li>
							<span id='p_time'>{{ p.p_time }}</span>
							<span id='tm_unit'>{{ p.tm_unit }}</span></li>
					{% endfor %}
				</ul>
				<dt><h5>Cooking time:</h5></dt>
				<ul class="cooking_time">
					{% for c in recipe.cook_time %}
						<li>
							<span id='c_time'>{{ c.c_time }}</span>
							<span id='time_unit'>{{ c.time_unit }}</span></li>
					{% endfor %}
				</ul>
				<dt><h5>World cuisine:</h5></dt>
			<dt>{{ recipe.cusine }}</dt>
				<dt><h5>Level of Difficulty</h5></dt>
			<dt>{{ recipe.level }}</dt>
				<dt><h5>Main Course:</h5></dt>
			<dt>{{ recipe.main_course }}</dt>
			<dt><h5>Ingredients:</h5></dt>
			<i aria-hidden="true" class="fa fa-list"> </i>
			<dt>
				<ul class="ingredient-list">
					{% for i in recipe.ingredients %}
						<li>
							<span id='qty'>{{ i.quantity }}</span>
							<span id='unit'>{{ i.unit }}</span>
							<span id='in_name'>{{ i.name }}</span></li>
					{% endfor %}
				</ul>
			</dt>
				<dt ><h5>Recipe Preparation:</h5></dt><i class="fa fa-check-circle-o" aria-hidden="true"></i>
			<dt id="preparation"> <p>{{ recipe.preparation }}</p></dt>
			<script>
                // este es el jquery para acceeder al numero de servicio I can see the values in the console
                //$('.old_service li span#n_service').each(function (index, element) {
                //  console.log($(this).text())
                //});
                var serves_how_many = $('input#original_service').val();
                console.log("original service " + serves_how_many);

                // This jquery is to obtain the new number of service
                //var to_serve = $('input#new_service').val(); // valor por deffecto que nos viene del servido
                //console.log("new service "+ to_serve);

                // enganchar un observador al camp0o de nuestro formulario que se corresponde con el numero de comensales
                $('input#new_service').change(function () {
                    var to_serve = $(this).val();
                    console.log("numero nuevo de comensales: " + to_serve);
                    // este es el jquery para acceeder a las cantidades de cada ingrediente, I can see the values in the console
                    $('.ingredient-list li span#qty').each(function (index, element) {
                        var qty = parseFloat($(this).text());
                        //ahora hacemos el calculo de la nueva cantidad de ingredientes
                        var new_qty = (to_serve * qty) / serves_how_many;
                        $(this).text(new_qty);
                        ///console.log()
                    });
                    // actualizar los numeros en funcion de los cuales calculamos las cantidades de la receta cada vez que la refrescamos
                    serves_how_many = to_serve;
                    $('input#original_service').val(to_serve);
                });
			</script>
		</dl>
	</div>

{% endblock %}
